body{
    background-image:url(/images/hd-wallpaper-g7f9e5e2d2_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color:#8144A3;
}

#header h1{
    font-family: 'Unna', serif;
    position: relative;
    left:36%;
    align-self: center;  
    
   
}

#header img{
    float:left;
    padding:10px;
    position: relative;
    left:3%;
   
   
    
}

#header, #footer{
    background-color:#C44B8F;
    opacity: 80%;
    height:90px;
    display:flex;
    
    
}
#footer{
    justify-content: center;
    
}
#article{
    background-color:#FEEEF7;
    opacity: 80%;
    text-align: left;
}

#container{
    align-content: left;
}
nav{
    
    margin-left: 0;
    height:200px;
    font-size: 18px;

}
nav a{
    padding:10px;
    margin-top: 13px;
    border:2px solid #A268C2;
    background-color:#EB98C7;
    border-radius: 5px;
    
   
}
.decoration{
    text-decoration: none;
    color: black;
}
.button{
    background-color: #A268C2;
    color: black;
    margin:5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
/* Page 1, 2, 3 */
.cats{
    height:290px;
    padding: 5px;
}
.accordion-item {
    background-color:#FEEEF7;
}
.accordion-button{
    background-color: #EB98C7;
    
}